.account-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
}
.acontainer{
    width: 100%;
    max-width: 450px;
    margin: 40px auto;
    padding: 20px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px; */
}
.acontainer > h1{
    font-size: 50px;
}
.account-line{
    width: 95%;
    height: 5px;
    border-radius: 25px;
    background-color: rgb(192, 47, 76);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form > input::placeholder{
    font-size: larger;
    color: rgb(36, 35, 35);
}
.ip{
    width: 80%;
    height: 35px;
    border: 1px solid black;
    border-radius: 25px;
    padding-left: 10px
}
.bg-btn{
    padding: 10px 15px;
    background-color: rgb(192, 47, 76);
    color: white;
    border: 1px solid rgb(192, 47, 76);
    border-radius: 25px;
}
.bg-btn:hover{
    cursor: pointer;
    opacity: 80%;
}
